@charset "UTF-8";
@import "../../../../styles/common/variables";
@import '../../../../styles/common/placeholders';

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $G-color-black-medium;

  thead {
    th {
      height: 60px;
      color: $G-color-gray-light;
      border-bottom: 1px solid $G-color-border-table;
      font-weight: normal;
    }
  }

  tbody {
    .left {
      position: relative;
      text-align: left;
      color: $G-color-black-medium;

      button {
        span {
          font-weight: 400;
        }
      }
    }

    tr {
      border-bottom: 1px solid $G-color-border-table;
    }

    td {
      height: 60px;
      color: $G-color-gray-medium;
      text-align: center;

      .isNotice {
        color: $G-color-main;
        font-weight: 600;
      }

      .isNewIcon {
        width: 28px;
        height: 14px;
        padding-top: 1px;
      }

      .subjectContent {
        display: flex;
        align-items: center;

        a {
          display: inline-block;
          max-width: 400px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            text-decoration: underline;
          }
        }

        .newSubjectIcon {
          margin-left: 6px;
          padding-top: 2px;

          img {
            width: 12px;
            height: 14px;
          }
        }

        .subjectCommentCount {
          margin-left: 6px;
          color: $G-color-main;
          padding-bottom: 2px;
        }
      }
    }
  }
}