@import '../../../styles/common/variables';
@import '../../../styles/common/placeholders';

.primary {
  @extend .button;

  background-color: $G-color-main;
  color: $G-color-white-extra;

  &:hover {
    background-color: $G-color-main-hover;
  }

  &:active {
    background-color: $G-color-main;
  }
}

.default {
  @extend .button;

  background-color: $G-color-white-extra;
  color: $G-color-gray-extra;
  border: 1px solid $G-color-border-default;

  &:hover {
    background-color: $G-color-white-hover;
  }

  &:active {
    background-color: $G-color-white-extra;
  }
}

.white {
  @extend .button;

  background-color: $G-color-white-extra;
  color: $G-color-gray-extra;

  &:hover {
    background-color: $G-color-white-hover;
  }

  &:active {
    background-color: $G-color-white-extra;
  }
}

.svgBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  background-color: $G-color-white-extra;
  transition: background-color 0.16s ease-in;

  &:hover {
    background-color: $G-color-white-hover;
  }

  &:active {
    background-color: $G-color-white-extra;
  }
}