@charset "UTF-8";
@import "../../../../styles/common/variables";
@import '../../../../styles/common/placeholders';

.wrapper {
  padding: 20px 16px 0;
  max-width: 390px;

  & > ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 32px 16px;

    & > li {
      display: flex;
      flex-direction: column;

      & > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        .subject {
          margin-bottom: 6px;

          a {
            display: inline-block;
            width: 100%;

            p {
              height: 36px;
            }
          }
        }

        .member {
          position: relative;
          margin-bottom: 6px;
        }

        .postInfo {
          span {
            color: $G-color-gray-medium;
            font-size: $G-font-size-h6;
          }

          .contour {
            margin: 0 10px;
            color: $G-color-gray-light;
          }
        }
      }
    }
  }
}