@charset "UTF-8";
@import "../../../styles/common/variables";
@import '../../../styles/common/placeholders';

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 400px;
  max-height: 400px;
  flex: 1 1;

  ul {
    padding: 10px 10px 10px 20px;

    li {
      margin-top: 10px;
    }
  }
}