@charset "UTF-8";
@import "../../../../styles/common/variables";
@import '../../../../styles/common/placeholders';

.headerGlobal {
  width: 100%;
  background-color: $G-color-main;
  color: $G-color-white-extra;
  min-height: 46px;
  overflow-x: scroll;
}