@charset "UTF-8";
@import "../../../../styles/common/variables";
@import '../../../../styles/common/placeholders';

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  border-top: 1px solid $G-color-border-table-bold;
  width: 100%;
  z-index: 999;
  background-color: $G-color-white-extra;
}