@charset "UTF-8";
@import "../../../styles/common/variables";
@import '../../../styles/common/placeholders';

.member {
  display: flex;
  align-items: center;
  float: left;
  padding: 0;
  margin: 0;

  .nickname {
    height: 24px;
    line-height: 24px;
    margin: 0 6px;
    font-weight: 600;
    color: $G-color-black-medium;
  }
}