@charset "UTF-8";
@import "_variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $G-font-family-base;
  font-size: $G-font-size-h6;
  background-color: $G-background-color-default;
  color: $G-color-black-extra;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: $G-font-size-h6;
}