@charset "UTF-8";

/* Font family */
$G-font-family-base: SpoqaHanSansNeo, -apple-system, Roboto, sans-serif;

/* Background color */
$G-background-color-default: #F8F8F8;

/* Color */

$G-color-main: #FF8D00;
$G-color-main-light: #FFF2E2;
$G-color-sub-blue: #0093FF;

$G-color-white-extra: #FFF;

$G-color-black-extra: #222;
$G-color-black-medium: #444;
$G-color-black-semi: #666;

$G-color-gray-extra: #999;
$G-color-gray-medium: #BBB;
$G-color-gray-light: #DDD;

/* Color Hover */
$G-color-main-hover: #FFAD48;
$G-color-main-light-hover: #FFE5C4;
$G-color-white-hover: #F1F1F1;

/* Border Color */
$G-color-border-default: rgba(102, 102, 102, 0.2);
$G-color-border-table: $G-background-color-default;

/* Font size */
$G-font-size-h7: 12px;
$G-font-size-h6: 14px;
$G-font-size-h5: 16px;
$G-font-size-h4: 18px;
$G-font-size-h3: 20px;
$G-font-size-h2: 22px;
$G-font-size-h1: 24px;

/* Box shadow */
$G-box-shadow-base: 0 0 6px rgba(0, 0, 0, 0.04);