@charset "UTF-8";
@import '../../../styles/common/_variables.scss';

/* Header */

.header {
  position: relative;
  width: 100%;
  height: 76px;
  background-color: $G-color-white-extra;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);

  .inner {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 100%;
    margin: 0 auto;

    .logo {
      margin-right: 40px;
      a {
        display: flex;
        align-items: center;

        span {
          margin-left: 10px;
          font-size: $G-font-size-h3;
          font-weight: bold;
        }
      }
    }

    .headerMenu {
      ul {
        display: flex;
        align-items: center;

        li {
          position: relative;

          .active {
            color: $G-color-main;
            font-weight: bold;
          }

          a {
            padding: 8px 16px;
            font-size: $G-font-size-h5;
            font-weight: 500;
            background-color: $G-color-white-extra;
            border-radius: 6px;
            color: $G-color-black-semi;
            transition: background-color 0.16s ease-in;

            &:hover {
              background-color: $G-color-white-hover;
            }

            &:active {
              background-color: $G-color-white-extra;
            }
          }

          .activeBox {
            position: absolute;
            display: flex;
            justify-content: center;
            text-align: center;
            bottom: -30px;
            width: 100%;

            .line {
              width: 32px;
              height: 4px;
              border-radius: 6px;
              background-color: $G-color-main;
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      margin-left: auto;

      button:nth-of-type(1) {
        margin-right: 20px;
      }

      a:nth-of-type(1) {
        margin-right: 10px;
      }
    }
  }
}

.mainWrapper {
  width: 100%;
  height: auto;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  height: 200px;
  background-color: $G-color-black-semi;

  .intro {
    display: flex;
    div {
      margin-left: 40px;
      color: $G-color-white-extra;

      h1 {
        font-weight: 500;
        margin-bottom: 20px;
      }

      p {
        font-size: $G-font-size-h7;
        font-weight: 400;
        max-width: 370px;
      }
    }
  }
}

.footer {
  padding: 40px 0;

  .inner {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 100%;
    margin: 0 auto;

    .left {
      display: flex;
      flex-direction: column;

      .footerLogo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: $G-color-gray-extra;

        h1 {
          font-size: $G-font-size-h3;
          margin-left: 10px;
        }
      }

      .copyright {
        color: $G-color-gray-medium;

        p {
          margin-bottom: 6px;
        }
      }
    }

    .right {
      display: flex;

      div {
        min-width: 170px;
        height: auto;

        ul {
          color: $G-color-gray-medium;

          li:nth-of-type(1) {
            color: $G-color-black-semi;
            font-weight: 600;
            margin: 0 0 20px;
          }

          li {
            margin-top: 10px;

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}