@charset "UTF-8";
@import "../../../../styles/common/variables";
@import '../../../../styles/common/placeholders';

.wrapper {
  width: 100%;

  .content {
    @extend .white-box;
    margin-bottom: 20px;

    .viewHeader {
      padding: 40px;
      border-bottom: 1px solid $G-color-border-table;

      header {
        margin-bottom: 20px;

        .headerTitle {
          font-size: $G-font-size-h1;
          font-weight: 500;
        }
      }

      section {
        display: flex;
        align-items: center;

        .left {
          display: flex;
          align-items: center;

          & > div {
            position: relative;
            color: $G-color-gray-medium;

            button {
              span {
                font-weight: 500;
              }
            }
          }

          .contour {
            margin: 0 10px;
            color: $G-color-gray-light;
          }
        }

        .right {
          margin-left: auto;
        }
      }
    }

    .viewContent {
      padding: 40px 40px 80px;
      p {
        line-height: 22px;
      }
    }
  }

  .comment {
    @extend .white-box;

    .commentHeader {
      padding: 40px;

      header {
        display: flex;
        align-items: center;

        span {
          font-size: $G-font-size-h5;
          font-weight: 600;
        }

        .count {
          margin-left: 6px;
          font-size: $G-font-size-h5;
          font-weight: 400;
          color: $G-color-main;
        }
      }
    }

    .commentList {
      padding-bottom: 20px;

      article {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        border-top: 1px solid $G-color-border-table;

        .replyIcon {
          position: absolute;
          z-index: 9999;
          opacity: 0.1;
          left: 40px
        }

        .commentInfo {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .thumb {
            margin-right: 10px;
          }

          .userInfo {
            display: flex;
            flex-direction: column;

            button {
              margin-bottom: 6px;
              & > span {
                font-weight: 400;
              }
            }

            p {
              font-size: $G-font-size-h7;
              color: $G-color-gray-medium;
            }
          }
        }

        .commentContent {
          p {
            line-height: 22px;
          }
        }
      }

      .reply {
        background-color: #FAFAFA;
        padding-left: 86px;
        border-top: 1px solid $G-color-border-table-bold;
      }
    }
  }
}