@charset "UTF-8";
@import "../../../../styles/common/variables";
@import '../../../../styles/common/placeholders';

.wrapper {
  width: 100%;

  .content {
    @extend .white-box;
    margin-bottom: 20px;

    .viewHeader {
      padding: 40px;
      border-bottom: 1px solid $G-color-border-table;

      header {
        margin-bottom: 20px;

        .headerTitle {
          font-size: $G-font-size-h1;
          font-weight: 500;

          .qaTitle {
            color: $G-color-sub-blue;
          }
        }
      }

      section {
        display: flex;
        align-items: center;

        .left {
          display: flex;
          align-items: center;

          & > div {
            position: relative;
            color: $G-color-gray-medium;

            button {
              span {
                font-weight: 500;
              }
            }
          }

          .contour {
            margin: 0 10px;
            color: $G-color-gray-light;
          }
        }

        .right {
          position: relative;
          margin-left: auto;
        }
      }
    }

    .viewContent {
      padding: 40px 40px 80px;

      .text {
        p {
          line-height: 22px;
        }
      }

      .hashList {
        margin-top: 40px;
      }
    }
  }
}