@charset "UTF-8";
@import '../../../styles/common/variables';
@import '../../../styles/common/placeholders';

.wrapper {
  display: flex;
  gap: 0 6px;

  li {
    padding: 4px 6px;
    background-color: $G-color-main-light;
    border-radius: 4px;
    color: $G-color-main;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.12s ease-in;

    &:hover {
      background-color: $G-color-main-light-hover;
    }
  }
}