@charset "UTF-8";
@import '../../../styles/common/variables';
@import '../../../styles/common/placeholders';

.wrapper {
  position: relative;
  width: 100%;
  height: auto;

  .header {
    @extend .white-box;

    width: 100%;
    padding: 20px;
    margin-bottom: 20px;

    .title {
      display: flex;
      align-items: center;

      .titleLeft {
        h1 {
          font-size: $G-font-size-h5;
          font-weight: 600;
        }
      }

      .titleRight {
        margin-left: auto;

        .searchBox {
          position: relative;

          select {
            padding: 10px 16px;
            border-radius: 6px 0 0 6px;
            border: 1px solid $G-background-color-default;
            color: $G-color-gray-extra;
          }

          input {
            width: 260px;
            background-color: $G-background-color-default;
            border: 1px solid $G-background-color-default;
            border-radius: 0 6px 6px 0;
            padding: 10px 46px 10px 16px;
          }

          img {
            position: absolute;
            top: 12px;
            right: 16px;
            width: 14px;
            height: 14px;
            opacity: 0.5;
          }
        }
      }
    }

    .headerMenus {
      margin-top: 20px;
      display: flex;
      align-items: center;

      .menuBtn {
        @extend .button;

        background-color: $G-color-white-extra;
        color: $G-color-gray-extra;
        font-weight: 500;
        white-space: nowrap;

        &:hover {
          background-color: $G-color-white-hover;
        }

        &:active {
          background-color: $G-color-white-extra;
        }
      }

      .menuActive {
        background-color: $G-color-black-semi;
        color: $G-color-white-extra;

        &:hover {
          background-color: $G-color-black-medium;
        }

        &:active {
          background-color: $G-color-black-semi;
        }
      }
    }
  }

  .content {
    @extend .white-box;

    width: 100%;
    height: auto;
  }

  .qaContent {
    width: 100%;
    height: auto;
  }

  .photoContent {
    @extend .white-box;

    width: 100%;
    height: auto;
    padding: 20px;
  }
}