@charset "UTF-8";
@import "../../../../styles/common/variables";
@import '../../../../styles/common/placeholders';

.wrapper {
  .article {
    padding: 16px;
    border-bottom: 1px solid $G-color-border-table-bold;

    a {
      display: flex;
      align-items: center;

      .listLeft {
        flex: 1 1;
        min-width: 0;
        margin-right: 20px;

        .subject {
          margin-top: 8px;

          p {
            display: flex;
            align-items: center;
            font-size: $G-font-size-h5;
            font-weight: 600;
            max-width: 298px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .info {
          margin-top: 6px;
          color: $G-color-gray-medium;

          .contour {
            margin: 0 10px;
            color: $G-color-gray-light;
          }
        }
      }

      .listRight {
        display: flex;

        .comment {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 56px;
          gap: 10px 0;

          p {
            font-size: $G-font-size-h5;
            color: $G-color-black-semi;
            font-weight: 400;
          }
        }
      }
    }
  }
}