@charset "UTF-8";
@import "../../../styles/common/variables";
@import '../../../styles/common/placeholders';

.wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;

  .content {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}